<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>{{resume.basics.name}}</title>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <style>
            /* Reset styles */
            a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }

            article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
                display: block;
            }

            body {
                background: #ffffff;
                line-height: 1;
            }

            ol, ul {
                list-style: none;
            }

            blockquote, q {
                quotes: none;
            }

            blockquote:after, blockquote:before, q:after, q:before {
                content: '';
                content: none;
            }

            table {
                border-collapse: collapse;
                border-spacing: 0;
            }

            /* Theme styles */
            body {
                font: 14px "Helvetica Neue", Helvetica, sans-serif;
            }

            a:visited {
                color: blue;
            }

            #resume {
                margin: 0 auto;
                max-width: 768px;
                padding: 4em 1em;
            }

            #resume h1 {
                font-size: 2.5em;
            }

            #resume #image,
            #resume h2 {
                font-size: 1.75em;
            }

            #resume #image {
                margin-bottom: 0.5em;
                width: 124px;
            }

            #resume #label {
                margin-top: 0.5em;
            }

            #resume section {
                margin-top: 1.5em;
            }

            #resume section:not(#basics) {
                border-top: 1px solid #000000;
                padding-top: 1.5em;
            }

            #resume section h2 {
                font-size: 1.5em;
            }

            #resume section h3 {
                font-size: 1.25em;
            }

            #resume #contact,
            #resume #languages,
            #resume #location,
            #resume #profiles,
            #resume .description,
            #resume .item,
            #resume .keywords,
            #resume .score,
            #resume .summary {
                margin-top: 1em;
            }

            #resume #contact:first-child,
            #resume #location:first-child,
            #resume #profiles:first-child {
                margin-top: 0;
            }

            #resume #languages ul,
            #resume #projects .roles {
                display: inline-block;
            }

            #resume #languages ul li,
            #resume #projects .keywords li,
            #resume #projects .roles li {
                display: inline;
            }

            #resume #languages ul li:after,
            #resume #projects .keywords li:after,
            #resume #projects .roles li:after {
                content: ', ';
            }

            #resume #projects .roles li:nth-last-child(2):after {
                content: ' & ';
            }

            #resume #languages ul li:last-child:after,
            #resume #projects .keywords li:last-child:after,
            #resume #projects .roles li:last-child:after {
                content: '';
            }

            #resume .item-header {
                align-items: first baseline;
                display: flex;
                justify-content: space-between;
            }

            #resume .item-header .date {
                padding-left: 1em;
                white-space: nowrap;
            }

            #resume ul.courses,
            #resume ul.highlights {
                list-style-type: disc;
                margin: 1em 3em 0;
            }

            #resume #interests .items,
            #resume #skills .items {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            #resume #interests .item,
            #resume #skills .item {
                box-sizing: border-box;
                flex: 0 0 25%;
                padding-right: 1em;
            }

            #resume #references blockquote p {
                font-style: italic;
            }

            @media screen and (max-width: 720px) {
                #resume {
                    padding: 2em 1em;
                }

                #resume #interests .item,
                #resume #skills .item {
                    flex: 0 0 50%;
                }
            }

            @media screen and (max-width: 480px) {
                #resume .item-header {
                    display: flex;
                    flex-direction: column-reverse;
                }

                #resume .item-header .date {
                    padding-left: 0;
                }

                #resume #interests .items,
                #resume #skills .items {
                    flex-direction: column;
                }

                #resume #interests .item,
                #resume #skills .item {
                    padding-right: 0;
                }

                #resume ul.courses,
                #resume ul.highlights {
                    margin-left: 2em;
                    margin-right: 2em;
                }
            }

            @media print {
                body {
                    font-size: 10px;
                }

                #resume {
                    padding: 1em;
                }
            }
        </style>
    </head>

    <body>
        <div id="resume">
            {{#resume.basics}}
                {{#if image}}
                    <img id="image" src="{{image}}">
                {{/if}}

                {{#if name}}
                    <h1 id="name">{{name}}</h1>
                {{/if}}

                {{#if label}}
                    <h2 id="label">{{label}}</h2>
                {{/if}}
            {{/resume.basics}}

            <section id="basics">
                {{#resume.basics}}
                    <ul id="contact">
                        {{#if url}}
                            <li class="url">
                                <span class="fa fa-link"></span>
                                <a href="{{url}}" target="_blank">{{url}}</a>
                            </li>
                        {{/if}}

                        {{#if email}}
                            <li class="email"><span class="fa fa-envelope"></span> {{email}}</li>
                        {{/if}}

                        {{#if phone}}
                            <li class="phone"><span class="fa fa-phone"></span> {{phone}}</li>
                        {{/if}}
                    </ul>

                    {{#location}}
                        <p id="location">
                            {{#if address}}
                                {{address}}<br>
                            {{/if}}

                            {{#if city}}
                                {{city}},
                            {{/if}}

                            {{#if region}}
                                {{region}},
                            {{/if}}

                            {{#if countryCode}}
                                {{countryCode}}
                            {{/if}}
                        </p>
                    {{/location}}

                    {{#if profiles.length}}
                        <ul id="profiles">
                            {{#each profiles}}
                                <li>
                                    <span class="fa fa-{{network}}"></span>
                                    {{#if url}}
                                        <a href="{{url}}" target="_blank">{{url}}</a>
                                    {{/if}}

                                    {{#if username}}
                                        ({{username}})
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                {{/resume.basics}}

                {{#if resume.languages.length}}
                    <div id="languages">
                        <span class="fa fa-language">&nbsp;</span>
                        <ul>
                            {{#each resume.languages}}
                                {{#if language}}
                                    <li>{{language}} {{#if fluency}}(<span class="fluency">{{fluency}}</span>){{/if}}</li>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}

                {{#resume.basics}}
                    {{#if summary}}
                        <p class="summary">{{summary}}</p>
                    {{/if}}
                {{/resume.basics}}
            </section>

            {{#if resume.work.length}}
                <section id="work">
                    <h2>Work Experience</h2>

                    <div class="items">
                        {{#each resume.work}}
                            <div class="item">
                                <div class="item-header">
                                    {{#if position}}
                                        <h3 class="position">
                                            {{#if name}}
                                                {{#if url}}<a href="{{url}}" target="_blank">{{/if}}{{name}}{{#if url}}</a>{{/if}} -
                                            {{/if}}

                                            {{position}}
                                        </h3>
                                    {{/if}}

                                    <p class="date">
                                        {{#if startDate}}
                                            {{startDate}}
                                        {{/if}}

                                        {{#if endDate}}
                                            - {{endDate}}
                                        {{/if}}
                                    </p>
                                </div>

                                {{#if summary}}
                                    <p class="summary">{{summary}}</p>
                                {{/if}}

                                {{#if highlights.length}}
                                    <ul class="highlights">
                                        {{#each highlights}}
                                            <li>{{.}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                </section>
            {{/if}}

            {{#if resume.education.length}}
                <section id="education">
                    <h2>Education</h2>

                    <div class="items">
                        {{#each resume.education}}
                            <div class="item">
                                <div class="item-header">
                                    {{#if area}}
                                        <h3>
                                            {{#if institution}}
                                                {{#if url}}<a href="{{url}}" target="_blank">{{/if}}{{institution}}{{#if url}}</a>{{/if}} -
                                            {{/if}}

                                        {{area}}
                                        </h3>
                                    {{/if}}

                                    <p class="date">
                                        {{#if startDate}}
                                            {{startDate}}
                                        {{/if}}

                                        {{#if endDate}}
                                            - {{endDate}}
                                        {{/if}}
                                    </p>
                                </div>

                                {{#if score}}
                                    <p class="score">Score: {{score}}</p>
                                {{/if}}

                                {{#if courses.length}}
                                    <ul class="courses">
                                        {{#each courses}}
                                            <li>{{.}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                </section>
            {{/if}}

            {{#if resume.awards.length}}
                <section id="awards">
                    <h2>Awards</h2>

                    <div class="items">
                        {{#each resume.awards}}
                            <div class="item">
                                <div class="item-header">
                                    {{#if title}}
                                        <h3>
                                            {{#if awarder}}
                                                {{awarder}} -
                                            {{/if}}

                                            {{#if url}}<a href="{{url}}" target="_blank">{{/if}}{{title}}{{#if url}}</a>{{/if}}
                                        </h3>
                                    {{/if}}

                                    {{#if date}}
                                        <p class="date">{{date}}</p>
                                    {{/if}}
                                </div>

                                {{#if summary}}
                                    <p class="summary">{{summary}}</p>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                </section>
            {{/if}}

            {{#if resume.certificates.length}}
                <section id="certificates">
                    <h2>Certificates</h2>

                    <div class="items">
                        {{#each resume.certificates}}
                            <div class="item">
                                <div class="item-header">
                                    {{#if name}}
                                        <h3>
                                            {{#if issuer}}
                                                {{issuer}} -
                                            {{/if}}

                                            {{#if url}}<a href="{{url}}" target="_blank">{{/if}}{{name}}{{#if url}}</a>{{/if}}
                                        </h3>
                                    {{/if}}

                                    {{#if date}}
                                        <p class="date">{{date}}</p>
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </section>
            {{/if}}

            {{#if resume.publications.length}}
                <section id="publications">
                    <h2>Publications</h2>

                    {{#each resume.publications}}
                        <div class="item">
                            <div class="item-header">
                                {{#if name}}
                                    <h3>
                                        {{#if publisher}}
                                            {{publisher}} -
                                        {{/if}}

                                        {{#if url}}<a href="{{url}}" target="_blank">{{/if}}{{name}}{{#if url}}</a>{{/if}}
                                    </h3>
                                {{/if}}

                                {{#if releaseDate}}
                                    <p class="date">{{releaseDate}}</p>
                                {{/if}}
                            </div>

                            {{#if summary}}
                                <p class="summary">{{summary}}</p>
                            {{/if}}
                        </div>
                    {{/each}}
                </section>
            {{/if}}

            {{#if resume.skills.length}}
                <section id="skills">
                    <h2>Skills</h2>

                    <div class="items">
                        {{#each resume.skills}}
                            <div class="item">
                                {{#if name}}
                                    <h4>
                                        {{name}}

                                        {{#if level}}
                                            ({{level}})
                                        {{/if}}
                                    </h4>
                                {{/if}}

                                {{#if keywords.length}}
                                    <ul class="keywords">
                                        {{#each keywords}}
                                            <li>{{.}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                </section>
            {{/if}}

            {{#if resume.volunteer.length}}
                <section id="volunteer">
                    <h2>Volunteering</h2>

                    <div class="items">
                        {{#each resume.volunteer}}
                            <div class="item">
                                <div class="item-header">
                                    {{#if position}}
                                        <h3>
                                            {{#if organization}}
                                                {{#if url}}<a href="{{url}}" target="_blank">{{/if}}{{organization}}{{#if url}}</a>{{/if}} -
                                            {{/if}}

                                            {{position}}
                                        </h3>
                                    {{/if}}

                                    <p class="date">
                                        {{#if startDate}}
                                            {{startDate}}
                                        {{/if}}

                                        {{#if endDate}}
                                            - {{endDate}}
                                        {{/if}}
                                    </p>
                                </div>

                                {{#if summary}}
                                    <p class="summary">{{summary}}</p>
                                {{/if}}

                                {{#if highlights.length}}
                                    <ul class="highlights">
                                        {{#each highlights}}
                                            <li>{{.}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                </section>
            {{/if}}

            {{#if resume.interests.length}}
                <section id="interests">
                    <h2>Interests</h2>

                    <div class="items">
                        {{#each resume.interests}}
                            <div class="item">
                                {{#if name}}
                                    <p>{{name}}</p>
                                {{/if}}

                                {{#if keywords.length}}
                                    <ul class="keywords">
                                        {{#each keywords}}
                                            <li>{{.}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                </section>
            {{/if}}

            {{#if resume.references.length}}
                <section id="references">
                    <h2>References</h2>

                    {{#each resume.references}}
                        <blockquote class="item">
                            {{#if reference}}
                                <p class="reference">{{reference}}</p>
                            {{/if}}

                            {{#if name}}
                                <footer class="name">- {{name}}</footer>
                            {{/if}}
                        </blockquote>
                    {{/each}}
                </section>
            {{/if}}


            {{#if resume.projects.length}}
                <section id="projects">
                    <h2>Projects</h2>

                    <div class="items">
                        {{#each resume.projects}}
                            <div class="item">
                                <div class="item-header">
                                    {{#if name}}
                                        <h3>
                                            {{#if url}}<a href="{{url}}" target="_blank">{{/if}}{{name}}{{#if url}}</a>{{/if}}

                                            {{#if type}}
                                                ({{type}})
                                            {{/if}}

                                            {{#if entity}}
                                                for {{entity}}
                                            {{/if}}

                                            {{#if roles.length}}
                                                -&nbsp;
                                                <ul class="roles">
                                                    {{#each roles}}
                                                        <li>{{.}}</li>
                                                    {{/each}}
                                                </ul>
                                            {{/if}}
                                        </h3>
                                    {{/if}}

                                    <p class="date">
                                        {{#if startDate}}
                                            {{startDate}}
                                        {{/if}}

                                        {{#if endDate}}
                                            - {{endDate}}
                                        {{/if}}
                                    </p>
                                </div>

                                {{#if description}}
                                    <p class="description">{{description}}</p>
                                {{/if}}

                                {{#if highlights.length}}
                                    <ul class="highlights">
                                        {{#each highlights}}
                                            <li>{{.}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}

                                {{#if keywords.length}}
                                    <ul class="keywords">
                                        {{#each keywords}}
                                            <li>{{.}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                </section>
            {{/if}}
        </div>
    </body>
</html>
